<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/userLogin">
        <div class="form-group">
            <div class="col-sm-12">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                    Submit
                </button>
                <a class="for-pwd" href="createAcc">Create acc</a>
            </div>
        </div>
    </form>
</body>
</html>